*{font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#fff;}

body{background-color: #1C8B98; width: 800px; margin:auto;}

#header{width:750px; margin:auto;}
#contentArea{width:750px; margin:auto}
#content{width:500px; float:left;}
#content>p{text-align: justify;}
#sidebar{width:240px; float:left; border: 1px solid #D1D2D5; height: 400px}
#footer{width: 750px; clear:both; margin: auto}

h1{color:#E14B3B}
p{color:#EDAA4E;margin: 10px 20px}

a{color:#FCC059;text-decoration: none}
a:hover{color:#EDAA4E}

ul{list-style-type: none}
li{color:#EDAA4E;}

img{height:300px; margin: 10px; border: 1px solid #D1D2D5}